@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400,700&display=swap');

body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    background-color: rgb(213, 225, 239);
    overflow: hidden;
    height: 100vh;
}

.QR-CONTAINER {
    margin: 90px auto; /* Adjust margin for smaller screens */
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    max-width: 300px;
    border: 1px solid #ccc;
}

.QR-CONTAINER img {
    border-radius: 20px;
    background-color: white;
    max-width: 100%;
    height: auto;
    padding-bottom: 0px;
}

h2 {
    color: #333;
    font-weight: 700;
    padding-bottom: 10px; /* Adjust padding for smaller screens */
}

p {
    font-size: 15px;
    font-weight: 400;
    color: #666;
}

/* Media query for mobile */
@media only screen and (max-width: 375px) {
    .QR-CONTAINER {
        margin: 10px auto;
        padding: 10px;
        height: auto; /* Set height to auto or a percentage value */
    }

    .QR-CONTAINER img {
        max-width: 100%;
        height: auto;
    }

    h2 {
        font-size: 18px;
        padding-bottom: 10px;
    }

    p {
        font-size: 14px;
    }
}
